In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv("Banglore Housing Prices.csv")

In [3]:
df.sample(4)

                          location       size total_sqft  bath  price
12869                  Hegde Nagar  2 Bedroom       1000   2.0   66.0
7818   Bommasandra Industrial Area  2 Bedroom       1200   3.0   45.0
10980                  Thanisandra      3 BHK       1411   3.0  100.0
8824                Kanakpura Road      3 BHK       1420   3.0   68.0

In [4]:
df.shape

(13320, 5)