In [26]:
import pandas as pd
import numpy as np
import statistics
import scipy

In [20]:
df = pd.read_csv('Age-Income-Dataset.csv')

In [22]:
df.sample(4)

           Age  Income
4        Young   45000
40  Middle Age   45700
33  Middle Age   25600
47         Old   45300

In [23]:
df.describe()

             Income
count     50.000000
mean   50966.000000
std    21096.683268
min    15000.000000
25%    33475.000000
50%    46850.000000
75%    65400.000000
max    93000.000000

In [24]:
df.dtypes

Age       object
Income     int64
dtype: object

<h1>Mean</h1>

In [32]:
print('Mean using Pandas : ',df['Income'].mean())
print('Mean using Statistics : ',statistics.mean(df['Income']))
print('Mean using Numpy : ',np.mean(df['Income']))
mean_income = sum(df['Income'])/len(df['Income'])
print('Mean using Calculations : ',mean_income)

Mean using Pandas :  50966.0
Mean using Statistics :  50966
Mean using Numpy :  50966.0
Mean using Calculations :  50966.0

<h1>
Median
</h1>

In [36]:
print('Median Using Pandas : ',df['Income'].median())
print('Median Using Numpy : ',np.median(df['Income']))
print('Median Using Statistics : ',statistics.median(df['Income'])

Median Using Pandas :  46850.0
Median Using Numpy :  46850.0
Median Using Statistics :  46850.0

In [40]:
print('Median Using Calculations :')
length = len(df['Income'])
if length % 2 == 1:
    median_value = sorted(df['Income']).round(0.5*(length-1))
else:
    x_ord, index = sorted(df['Income']), round(0.5 * length)
    median_value = 0.5 * (x_ord[index-1] + x_ord[index])

print(median_value)

Median Using Calculations :
46850.0

<h1>Mode</h1>

In [44]:
import scipy.stats

In [45]:
print('Mode Using Pandas : ',df['Income'].mode())
print('Mode Using Numpy : ',scipy.stats.mode(df['Income']))
print('Mode Using Statistics : ',statistics.mode(df['Income']))

Mode Using Pandas :  0    23000
1    25600
2    45000
3    65400
4    80000
Name: Income, dtype: int64
Mode Using Numpy :  ModeResult(mode=array([23000], dtype=int64), count=array([2]))
Mode Using Statistics :  45000

<h1>Varience</h1>

In [55]:
print('Varence Using Statistics : ',statistics.variance(df['Income']))
print('Varience Using Pandas : ',df['Income'].var(ddof=1))
print('Varience Using Numpy : ',np.var(df['Income']))

Varence Using Statistics :  445070044.8979592
Varience Using Pandas :  445070044.8979592
Varience Using Numpy :  436168644.0

<h1>Standard Deviation</h1>

In [56]:
print('Standard Deviation Using Statistics : ',statistics.stdev(df['Income']))
print('Standard Deviation Using Pandas : ',df['Income'].std(ddof=1))
print('Standard Deviation Using Numpy : ',np.std(df['Income']))

Standard Deviation Using Statistics :  21096.683267707253
Standard Deviation Using Pandas :  21096.683267707253
Standard Deviation Using Numpy :  20884.6509187968

<h1>Skewness</h1>

In [59]:
print('Skewness Using Scipy : ',scipy.stats.skew(df['Income']))
print('Skewness using Pandas : ',df['Income'].skew())

Skewness Using Scipy :  0.3778461966031057
Skewness using Pandas :  0.38963401146775223