In [109]:
import pandas as pd
import numpy as np

In [110]:
df = pd.read_csv("Banglore Housing Prices.csv")
df.sample(3)

                    location       size total_sqft  bath  price
8966    Vishveshwarya Layout  6 Bedroom       1400   6.0  160.0
11879                  Begur      3 BHK       1411   2.0   60.0
6096   Banashankari Stage II  2 Bedroom        500   2.0   55.0

In [111]:
df.shape

(13320, 5)

In [112]:
df.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [113]:
df['bath'] = df['bath'].fillna(df['bath'].mean())

In [114]:
df['size'] = df['size'].fillna('2 BHK')

In [115]:
df['location'] = df['location'].fillna('null')

In [116]:
df.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [117]:
df['location'].value_counts()

location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Uvce Layout                         1
Abshot Layout                       1
Name: count, Length: 1306, dtype: int64

In [118]:
df['location'].nunique()

1306

In [119]:
df['size'].value_counts()

size
2 BHK         5215
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: count, dtype: int64

In [120]:
df['size'].nunique()

31

In [121]:
df.describe()

               bath         price
count  13320.000000  13320.000000
mean       2.692610    112.565627
std        1.337777    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [122]:
df.dtypes

location       object
size           object
total_sqft     object
bath          float64
price         float64
dtype: object

In [123]:
df['total_sqft'].value_counts()

total_sqft
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: count, Length: 2117, dtype: int64

In [124]:
df['total_sqft'].nunique()

2117

In [125]:
df['size'] = df['size'].str.replace('1 Bedroom','1 BHK')
df['size'] = df['size'].str.replace('2 Bedroom','2 BHK')
df['size'] = df['size'].str.replace('3 Bedroom','3 BHK')
df['size'] = df['size'].str.replace('4 Bedroom','4 BHK')
df['size'] = df['size'].str.replace('5 Bedroom','5 BHK')
df['size'] = df['size'].str.replace('6 Bedroom','6 BHK')
df['size'] = df['size'].str.replace('7 Bedroom','7 BHK')
df['size'] = df['size'].str.replace('8 Bedroom','8 BHK')
df['size'] = df['size'].str.replace('9 Bedroom','9 BHK')
df['size'] = df['size'].str.replace('10 Bedroom','10 BHK')
df['size'] = df['size'].str.replace('11 Bedroom','11 BHK')
df['size'] = df['size'].str.replace('12 Bedroom','12 BHK')
df['size'] = df['size'].str.replace('18 Bedroom','18 BHK')
df['size'] = df['size'].str.replace('43 Bedroom','43 BHK')

In [126]:
df['size'].value_counts()

size
2 BHK     5544
3 BHK     4857
4 BHK     1417
1 BHK      643
5 BHK      356
6 BHK      221
7 BHK      100
8 BHK       89
9 BHK       54
10 BHK      14
1 RK        13
11 BHK       4
27 BHK       1
19 BHK       1
16 BHK       1
43 BHK       1
14 BHK       1
12 BHK       1
13 BHK       1
18 BHK       1
Name: count, dtype: int64

In [127]:
df['size'].nunique()

20

In [128]:
df.sample(4)

                       location   size total_sqft  bath  price
915                 Mahadevpura  2 BHK       1250   2.0  52.00
12893  Electronics City Phase 1  1 BHK        755   1.0  30.12
1151                Dasarahalli  3 BHK       1520   2.0  75.00
6261             Maithri Layout  3 BHK       1540   3.0  76.00

In [129]:
df.dtypes

location       object
size           object
total_sqft     object
bath          float64
price         float64
dtype: object

In [130]:
df['total_sqft'] = pd.to_numeric(df['total_sqft'], errors='coerce').fillna(1000)

In [131]:
df.dtypes

location       object
size           object
total_sqft    float64
bath          float64
price         float64
dtype: object

In [132]:
df['total_sqft'].value_counts()

total_sqft
1200.00    843
1000.00    419
1100.00    221
1500.00    205
2400.00    196
          ...
1269.72      1
2328.00      1
2572.00      1
806.00       1
4689.00      1
Name: count, Length: 1895, dtype: int64

In [133]:
df.sample(5)

                 location   size  total_sqft  bath  price
7336           Whitefield  2 BHK      1180.0   2.0   70.0
11801        Kundalahalli  3 BHK      1500.0   3.0   50.0
8793   5th Phase JP Nagar  3 BHK      1550.0   3.0   75.0
8451          Thanisandra  3 BHK      1491.0   3.0   88.0
12026     Manjunath Nagar  5 BHK       910.0   4.0  194.0

<h1>The above Data is cleared</h1>

<h1>Apply One Hot Encoding</h1>

In [134]:
counts_size = df['size'].value_counts()

In [135]:
uncommon = counts_size[counts_size < 10].index

In [136]:
df['size'] = df['size'].replace(uncommon, 'greater_than_10_BHK')

In [137]:
df['size'].value_counts()

size
2 BHK                  5544
3 BHK                  4857
4 BHK                  1417
1 BHK                   643
5 BHK                   356
6 BHK                   221
7 BHK                   100
8 BHK                    89
9 BHK                    54
10 BHK                   14
1 RK                     13
greater_than_10_BHK      12
Name: count, dtype: int64

In [138]:
count_size_place = df['location'].value_counts()

In [139]:
count_size_place

location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Uvce Layout                         1
Abshot Layout                       1
Name: count, Length: 1306, dtype: int64

In [140]:
uncommon_location = count_size_place[count_size_place < 150].index

In [141]:
df['location'] = df['location'].replace(uncommon_location , 'Other_location')

In [142]:
df['location'].value_counts()

location
Other_location           10346
Whitefield                 540
Sarjapur  Road             399
Electronic City            302
Kanakpura Road             273
Thanisandra                234
Yelahanka                  213
Uttarahalli                186
Hebbal                     177
Marathahalli               175
Raja Rajeshwari Nagar      171
Hennur Road                152
Bannerghatta Road          152
Name: count, dtype: int64

In [143]:
df= pd.get_dummies(df,columns=['location','size'],drop_first=True,dtype=int)

In [145]:
df.shape

(13320, 26)

<h1>Now we have a clean dataset which has all numeric colunms</h1>

In [146]:
df.dtypes

total_sqft                        float64
bath                              float64
price                             float64
location_Electronic City            int32
location_Hebbal                     int32
location_Hennur Road                int32
location_Kanakpura Road             int32
location_Marathahalli               int32
location_Other_location             int32
location_Raja Rajeshwari Nagar      int32
location_Sarjapur  Road             int32
location_Thanisandra                int32
location_Uttarahalli                int32
location_Whitefield                 int32
location_Yelahanka                  int32
size_1 RK                           int32
size_10 BHK                         int32
size_2 BHK                          int32
size_3 BHK                          int32
size_4 BHK                          int32
size_5 BHK                          int32
size_6 BHK                          int32
size_7 BHK                          int32
size_8 BHK                          int32
size_9 BHK                          int32
size_greater_than_10_BHK            int32
dtype: object

<h1>Applying Model</h1>

In [147]:
from sklearn.model_selection import train_test_split

In [148]:
x_train,x_test,y_train,y_test= train_test_split(df.iloc[:,[0,1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]],df.iloc[:,2],train_size=0.75,random_state=4)

In [149]:
x_train

,total_sqft,bath,location_Electronic City,location_Hebbal,location_Hennur Road,location_Kanakpura Road,location_Marathahalli,location_Other_location,location_Raja Rajeshwari Nagar,location_Sarjapur Road,...,size_10 BHK,size_2 BHK,size_3 BHK,size_4 BHK,size_5 BHK,size_6 BHK,size_7 BHK,size_8 BHK,size_9 BHK,size_greater_than_10_BHK
4660,1785.0,3.0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
4278,1215.0,2.0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
11481,1200.0,1.0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
879,1145.0,2.0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
2831,1535.0,3.0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6017,1200.0,5.0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
709,1045.0,2.0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
10679,1555.0,3.0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
8366,1553.0,2.0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
1146,4000.0,4.0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0

In [150]:
y_train

4660     118.00
4278      49.85
11481     39.82
879       60.00
2831      55.00
          ...
6017     101.00
709       45.00
10679    125.00
8366      58.23
1146     675.00
Name: price, Length: 9990, dtype: float64

In [151]:
from sklearn.preprocessing import StandardScaler

In [152]:
scaler = StandardScaler()

In [153]:
x_train = scaler.fit_transform(x_train)

In [154]:
x_test = scaler.transform(x_test)

In [155]:
x_train

array([[ 0.22179319,  0.22871255, -0.15588526, ..., -0.08400269,
        -0.06651232, -0.03320113],
       [-0.2794392 , -0.50906832, -0.15588526, ..., -0.08400269,
        -0.06651232, -0.03320113],
       [-0.29262952, -1.2468492 , -0.15588526, ..., -0.08400269,
        -0.06651232, -0.03320113],
       ...,
       [ 0.01954153,  0.22871255, -0.15588526, ..., -0.08400269,
        -0.06651232, -0.03320113],
       [ 0.01778282, -0.50906832, -0.15588526, ..., -0.08400269,
        -0.06651232, -0.03320113],
       [ 2.16956468,  0.96649342, -0.15588526, ..., -0.08400269,
        -0.06651232, -0.03320113]])

In [156]:
x_test

array([[ 1.81782265,  0.96649342, -0.15588526, ..., -0.08400269,
        -0.06651232, -0.03320113],
       [-0.3322005 , -0.50906832, -0.15588526, ..., -0.08400269,
        -0.06651232, -0.03320113],
       [-0.028823  ,  1.70427429, -0.15588526, ..., -0.08400269,
        -0.06651232, -0.03320113],
       ...,
       [-0.29262952,  0.96649342, -0.15588526, ..., -0.08400269,
        -0.06651232, -0.03320113],
       [ 0.15584156,  0.96649342, -0.15588526, ..., -0.08400269,
        -0.06651232, -0.03320113],
       [ 1.74307747,  0.22871255, -0.15588526, ..., -0.08400269,
        -0.06651232, -0.03320113]])

In [157]:
from sklearn.linear_model import LinearRegression

In [158]:
clf = LinearRegression()

In [159]:
clf.fit(x_train,y_train)

LinearRegression()

In [166]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [169]:
y_pred = clf.predict(x_test)

In [170]:
r2 = r2_score(y_test, y_pred)

In [171]:
print("R-squared:", r2)

R-squared: 0.3896603242608865